extends ../base.pug

block variables
    - var template = "home";

block content
    .home
        h1.home__title.title
            span.home__title-span.home__title-span--1 Visit
            span.home__title-span.home__title-span--2 Af
            .home__title-images
                .home__title-images-inner
                    img(
                        src="/src/assets/images/home/title-image-1.png",
                        alt=""
                    )
                    img(
                        src="/src/assets/images/home/title-image-2.jpg",
                        alt=""
                    )
                    img(
                        src="/src/assets/images/home/title-image-3.jpg",
                        alt=""
                    )
                    img(
                        src="/src/assets/images/home/title-image-4.jpg",
                        alt=""
                    )
                    img(
                        src="/src/assets/images/home/title-image-5.jpg",
                        alt=""
                    )
                    img(
                        src="/src/assets/images/home/title-image-6.jpg",
                        alt=""
                    )
                    img(
                        src="/src/assets/images/home/title-image-7.jpg",
                        alt=""
                    )

            span.home__title-span.home__title-slide.home__title-span--2 rica
            span.home__title-span.home__title-span--3 Akwaaba
