extends ../base.pug

block variables
    - var template = "home";

block content
    .home
        h1.home__title.title
            span.home__title-span.home__title-span--1 Visit
            span.home__title-span.home__title-span--2 Af
            .home__title-images
                .home__title-images-inner
                    img(
                        src="https://images.unsplash.com/photo-1515658323406-25d61c141a6e?q=80&w=709&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
                        alt=""
                    )
                    img(
                        src="https://images.unsplash.com/photo-1509099836639-18ba1795216d?q=80&w=1031&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
                        alt=""
                    )
                    img(
                        src="https://images.unsplash.com/photo-1505649118510-a5d934d3af17?q=80&w=880&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
                        alt=""
                    )
                    img(
                        src="https://images.unsplash.com/photo-1519635451045-a41d4361d495?q=80&w=675&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
                        alt=""
                    )
                    img(
                        src="https://images.unsplash.com/photo-1548323632-8e025e10c363?q=80&w=714&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
                        alt=""
                    )
                    img(
                        src="https://images.unsplash.com/photo-1580394640019-00d34094ae13?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
                        alt=""
                    )
                    img(
                        src="https://images.unsplash.com/photo-1603815234866-5b012a857c37?q=80&w=686&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
                        alt=""
                    )

            span.home__title-span.home__title-slide.home__title-span--2 rica
